 
<style>
	html {

		margin-top: -70px;
	}
	.angular-with-newlines {
		white-space: pre;
	}
	
	a:hover   {
		background-color:transparent; text-decoration:underline
	}

	
	.panel { 
		word-wrap: break-word;
	}
	.fileUpload {
		
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
	
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}
ul.enlarge{
list-style-type:none; /*remove the bullet point*/
margin-left:0;
}
ul.enlarge li{
display:inline-block; /*places the images in a line*/
position: relative;
z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
margin:10px 40px 0 20px;
margin-left:0;
}
ul.enlarge img{
background-color:#eae9d4;
padding: 6px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px; 
}
ul.enlarge span{
position:absolute;
left: -9999px;
background-color:#eae9d4;
padding: 10px;
font-family: 'Droid Sans', sans-serif;
font-size:.9em;
text-align: center; 
color: #495a62; 
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
border-radius:8px;
}
ul.enlarge li:hover{
z-index: 50;
cursor:pointer;
}
ul.enlarge span img{
padding:2px;
background:#ccc;
width:600px;
height:500px;
}
ul.enlarge li:hover span{ 
position: fixed;
  top: 10%;
  left:10%;

}
ul.enlarge li:hover:nth-child(2) span{
left: -100px; 
}
ul.enlarge li:hover:nth-child(3) span{
left: -200px; 
}
h3 span { 
   color: black; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(255, 255, 255); /* fallback color */
   background: rgba(0.5, 0.5, 0.5, 0.7);
   padding: 10px; 
   font-family: 'Corben', Georgia, Times, serif;
}
h1, h2, h3, h4, h5, h6, div {
      font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {
	background-image: url(/Projekt/public/img/back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

body {
    font-family:Helvetica;
} 
</style>

<html>
	<head>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
			<script type="text/javascript" src="/Projekt/public/dist/index.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet"  href="https://bootswatch.com/sandstone/bootstrap.min.css">
	
		
	<link rel="stylesheet" href="/Projekt/public/dist/angular-simple-calendar.css">
	 <script src="http://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>
   
<script type="text/javascript" src="/Projekt/public/dist/angular-simple-calendar.js"></script>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

		
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/assets/css/custom.min.css">
	</head>
	<div ng-app="myApp" ng-controller="myCtrl" >
		
			

				<h3 ><span><img ng-src="/Projekt/public/img/mkk.jpg" alt="mkk"
				float="left" width="100px" height="100px"/>MALINOIS KLUB KVARNER</span></h3>
			
				<nav class="navbar navbar-inverse" >
					<ul class="nav navbar-nav" style=" margin-left: 10%;margin-right:10%">
						<li ng-class="{ active: isSet(1) }">
							<a href="" class="navbar-brand" ng-click="setTab(1)">Naslovna stranica</a>
						</li>
						<li ng-class="{ active: isSet(2) }">
							<a href="" class="navbar-brand" ng-click="setTab(2)"> Informacije </a>
						</li>
						<li ng-class="{ active: isSet(3) }">
							<a href="" class="navbar-brand"ng-click="setTab(3)">Prijave </a>
						</li>
						<li ng-class="{ active: isSet(4) }">
							<a href="" class="navbar-brand"ng-click="setTab(4)">Događaji </a>
						</li>
						<li ng-class="{ active: isSet(5) }">
							<a href="" class="navbar-brand"ng-click="setTab(5)">Slike </a>
						</li>
						<li ng-class="{ active: isSet(6) }">
							<a href="" class="navbar-brand"ng-click="setTab(6)">Rezultati </a>
						</li>
				</ul>
					
					<div ng-class="{ active: isSet(7) } " style="font-family:monospace; ">
						<a ng-show="!loged" href="" class="navbar-brand"ng-click="setTab(7)"><font size="3">LOG IN &nbsp<span class="glyphicon glyphicon-log-in"style="font-size: 0.73em;"></span></font></a>
						<a ng-show="loged"href="" class="navbar-brand"ng-click="logout()"><font size="3">LOG OUT&nbsp<span class="glyphicon glyphicon-log-out"style="font-size: 0.73em;"></span></font> </a>
					</div>
					<div ng-class="{ active: isSet(8) } " style="font-family:monospace; ">
						<a ng-show="!loged" href="" class="navbar-brand"ng-click="setTab(8)" ><font size="3">REGISTRIRAJ SE</font></a>				
						<a ng-show="loged"  href="" class="navbar-brand"ng-click="setTab(8);getPets();myLocation()" ><font size="3">MOJ PROFIL&nbsp<span class="glyphicon glyphicon-cog" style="font-size: 0.73em;"></span></font></a>
					</div >
					<div ng-class="{ active: isSet(9) } " style="font-family:monospace; ">
						<a ng-show="admin()"  href="" class="navbar-brand"ng-click="setTab(9);getAllUsers()" ><font size="3">KORISNICI&nbsp<span class="glyphicon glyphicon-USER" style="font-size: 0.73em;"></span></font></a>
					</div>
				</nav>
		
<div style="float:left;width: 75%";>
			<div class="jumbotron" style="  background: url(http://www.thedesignwork.com/wp-content/uploads/2012/04/leather-texture-01.jpg) repeat 0 0; color:#93c54b;margin-left:5%; ">
				<div  ng-show="isSet(1)" style="position:relative;margin-left:10%;margin-right:10%" >
					<h3 style="color:black"><a href="http://cliparts.co/clipart/3244064" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/pT7/rRr/pT7rRrLac.png" width="100" alt="Pix For > Animated Moving Dog Pictures" /></a>	Novosti:
						 <a href="http://cliparts.co/clipart/3243610" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/ki8/5q5/ki85q5q4T.svg" width="100" float="right" alt="Cartoon Dog clip art - vector clip art online, royalty free ..." /></a>
					
					
					</h3>
					
			
				 <button ng-show="admin()" class="btn btn-info"  ng-click="dodajobavjest=!dodajobavjest"  >
						Dodaj obavjest <span  class="glyphicon glyphicon-plus" ></span>
					</button>
					<div class="alert alert-dismissible alert-success" ng-show="addsucc">
						<button type="button" class="close" data-dismiss="alert" ng-click="addsucc=!addsucc">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<strong> {{addresponse}}</strong>
					</div>
					<div class="alert alert-dismissible alert-danger" ng-show="addfail">
						<button type="button" class="close" data-dismiss="alert" ng-click="addfail=!addfail">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<strong> {{addresponse}}</strong>
					</div>
<!--ODAVDE-->
					<div class="panel panel"  >
						<form class="form-horizontal" ng-show="dodajobavjest">
							<br>
							<fieldset>

								<div class="form-group">
									<label for="nameEvent" class="col-lg-2 control-label" >Ime obavjesti</label>
									<div class="col-lg-5">
										<input type="text" class="form-control" ng-model="naslovobavjest" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="opis" class="col-lg-2 control-label">Sadrzaj</label>
									<div class="col-lg-8">
										<textarea class="form-control"  ng-model="sadrzaj" ></textarea>																			
     


									</div>
								</div>

								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<button type="reset" class="btn btn-default">
											Cancel
										</button>
										<button type="submit" class="btn btn-info" ng-click="addobavjest()">
											Submit
										</button>
									</div>

								</div>
							</fieldset>
						</form>
					</div>
<!--DO TU-->
					<div  ng-repeat="notice in obavjesti | orderBy:'-idNaslov'" ng-switch on="$index %2" style="position:relative;margin-top: 5%;width: 100%;">
						<div class="panel panel-default" ng-switch-when="0" style="float:left;position:relative;width:45%;">
							<div class="panel-heading clearfix">
								<h4 class="panel-title pull-left" style="white-space: pre;" ><span  class="glyphicon glyphicon-star" ></span> </h4>
								<div class="btn-group pull-right">
									<button ng-show="admin()" class="btn btn-danger  btn-sm"  ng-click="deleteModal(obavjesti[$index].idNaslov)" data-toggle="modal"  data-target="#delnasModal"  >
										<span  class="glyphicon glyphicon-remove" ></span>
									</button>
								</div>
							</div>

							<div class="panel-body" style="white-space: pre;size:2; color:black; "><p style="white-space: pre;size:4; color:green; ">{{obavjesti[$index].naslov}}</p></br></br>{{obavjesti[$index].sadrzaj}}</div>
							
						</div>
						<div class="panel panel-default" ng-switch-when="0" ng-show="obavjesti.length>($index+1)"style="float:right;width:45%;">
							<div class="panel-heading clearfix">
								<h4 class="panel-title pull-left" style="white-space: pre;"><span  class="glyphicon glyphicon-star" ></span> </h4>
								<div class="btn-group pull-right">
									<button ng-show="admin()" class="btn btn-danger  btn-sm"  ng-click="deleteModal(obavjesti[$index+1].idNaslov)" data-toggle="modal"  data-target="#delnasModal"  >
										<span  class="glyphicon glyphicon-remove" ></span>
									</button>
								</div>
							</div>
							<div class="panel-body" style="white-space: pre;size:2; color:black"><p style="white-space: pre;size:4; color:green; ">{{obavjesti[$index +1].naslov}}</p></br></br>{{obavjesti[$index +1].sadrzaj}}</div>
						</div><div class="clearfix"></div>
					</div>
					<div id="delnasModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										&times;
									</button>
									<h4 class="modal-title">Brisanje događaja</h4>
								</div>
								<div class="modal-body">
									<p>
										Jeste li sigurni da želite izbrisati obavjest?
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Povratak
									</button>
									<button type="button" class="btn btn-warning" ng-click="deleteObavjest()">
										Izbriši
									</button>
								</div>
							</div>
						</div>
					</div>
					<a href="http://cliparts.co/clipart/2676570" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/qcB/X4X/qcBX4XMxi.png" width="100"height="70" alt="Free Dog Graphics - ClipArt Best" /></a>
				</div>
				<div ng-show="isSet(2)" style="position:relative;margin-left:10%;margin-right:10%">
					<button ng-show="admin()" class="btn btn-info"  ng-click="editinfshow=!editinfshow"  style="position:relative; margin-left: 90%;">
							<span  class="glyphicon glyphicon-pencil" ></span>
						</button>
						<a href="http://cliparts.co/clipart/7469" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/bpT/qpp/bpTqppBi9.png" width="100" alt="Cartoon Dog" /></a>
						<div ng-show="editinfshow&&admin()" >
							<form class="form-horizontal">

								<div class="form-group">
									<label for="text" class="col-lg-2 control-label" >Naslov</label>
									<div>
									<input type="text"  class="form-control" ng-model="text.naslov" >
									
									</div>
									
									</div>
									<div class="form-group">
									<label for="text" class="col-lg-2 control-label" >Sadržaj</label>
									<div >
									<textarea class="form-control" ng-model="text.tekst"></textarea>									
                     	         </div> </div>
                     	         <div class="form-group">
							<div class="col-lg-10">
								<button type="reset" class="btn btn-inverse">
									Cancel
								</button>
								<button type="submit" class="btn btn-info" ng-click="editinf(text.naslov,text.tekst)">
									Submit
								</button>
							</div>
						</div>
							</form>
						
					</div>
					<div ng-repeat="text in informacije"	>
						
						

					<h1 class="angular-with-newlines">{{text.naslov}}</h1>
					<br>
					<p class="angular-with-newlines">{{text.tekst}}</p>
</div>
			</div>
			<div ng-show="isSet(3)" style="position:relative;margin-left:10%;margin-right:10%">
				<h3 style="color:black">Prijave na događaje
	<a href="http://cliparts.co/clipart/2478435" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/8cx/K8X/8cxK8X6di.gif" width="100" alt="Pictures Of Animated Dogs - ClipArt Best" /></a></br>
<div ng-repeat="event in dogadaji">
<table class="table table-striped table-hover " >
	<h3>{{event.dogadaj}} - {{event.datum| date:'dd.MM.yyyy'}}</h3>
  <thead>
    <tr>
      
      <th>IME</th>
      <th>EMAIL</th>
      <th>LJUBIMAC</th>
      <th>PASMINA</th>
      <th>KATEGORIJA</th>
      <th ng-show="isAutor(event.autor)||admin()"><button class="btn btn-success btn-sm" ng-click="emailsErolled(event.id)" data-toggle="modal"  data-target="#emailsModal">
		<span  class="glyphicon glyphicon-envelope" ></span>
		</button>
		<div id="emailsModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										&times;
									</button>
									<h4 class="modal-title">Pošta prijavljenih na događaj</h4>
								</div>
								<div class="modal-body">
									<table>
									<tr ng-repeat="prijava in prijave "  ng-if="prijava.imeDogadaja==eventIdForEmails"><td >
										{{prijava.email}} ;
									</td></tr></table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Povratak
									</button>
									
								</div>
							</div>
						</div>
					</div>
		
		
		
		
		</th>
    </tr>
  </thead>
  <tbody>
      
    <tr class="success" ng-repeat="prijava in prijave " ng-if="prijava.imeDogadaja==event.id">
    	
    
      <td>{{prijava.ime}}</td>
      <td>{{prijava.email}}</td>
      <td>{{prijava.pas}}</td>
      <td>{{prijava.pasmina}}</td>
      <td>{{prijava.kategorija}}</td>
      <td class="btn-group pull-right"  ng-show="admin()" >
		<button class="btn btn-danger  btn-sm"  ng-click="deleteModal(prijava.idPrijave)" data-toggle="modal"  data-target="#myModal">
		<span  class="glyphicon glyphicon-remove" ></span>
		</button>
		
		<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brisanje prijave</h4>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite izbrisati prijavu?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        <button type="button" class="btn btn-warning" ng-click="brisanjePrijave()">Izbriši</button>
      </div>
    </div>

  </div>
</div>
		
	  </td>
    </tr>
    
  </tbody>
</table> 
</br>
</div>





			</div>

			<div ng-show="isSet(4)" style="position:relative;margin-left:10%;margin-right:10%">
                     <h3 style="color:black">Nadolazeći događaji <a href="http://cliparts.co/clipart/45037" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/6iy/pyp/6iypypAin.gif" width="100" alt="Dog Animated GIF" /></a></h3>
				<button ng-show="loged" class="btn btn-info"  ng-click="dodajdogadaj=!dodajdogadaj"  >
					Dodaj događaj <span  class="glyphicon glyphicon-plus" ></span>
				</button>
				<div class="alert alert-dismissible alert-success" ng-show="addsucc">
					<button type="button" class="close" data-dismiss="alert" ng-click="addsucc=!addsucc">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<strong> {{addresponse}}</strong>
				</div>
				<div class="alert alert-dismissible alert-danger" ng-show="addfail">
					<button type="button" class="close" data-dismiss="alert" ng-click="addfail=!addfail">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<strong> {{addresponse}}</strong>
				</div>
				<div class="panel panel"  style="position:relative;margin-top: 5%">
					<form class="form-horizontal" ng-show="dodajdogadaj">
						<br>
						<fieldset>

							<div class="form-group">
								<label for="nameEvent" class="col-lg-2 control-label" >Ime događaja</label>
								<div class="col-lg-5">
									<input type="text" class="form-control" ng-model="imedogadaj" placeholder="">
								</div>
							</div>
							<div class="form-group">
								<label for="datum" class="col-lg-2 control-label" >Datum</label>
								<div class="col-lg-5">
									<input  type="date" class="form-control" ng-model="datum" >
								</div>
							</div>
							<div class="form-group">
								<label for="time" class="col-lg-2 control-label" >Vrijeme</label>
								<div class="col-lg-5">
									<input type="time" class="form-control" ng-model="vrijeme" >
								</div>
							</div>
							<div class="form-group">
								<label for="mjesto" class="col-lg-2 control-label" >Mjesto</label>
								<div class="col-lg-5">
									<input type="mjesto" class="form-control" ng-model="mjesto" >
								</div>
							</div>
							<div class="form-group">
								<label for="opis" class="col-lg-2 control-label">Opis</label>
								<div class="col-lg-8">
									<textarea class="form-control" rows="4" ng-model="opis"></textarea>									
     

								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="reset" class="btn btn-default">
										Cancel
									</button>
									<button type="submit" class="btn btn-info" ng-click="adddogadaj()">
										Submit
									</button>
								</div>

							</div>
						</fieldset>
					</form>
				</div>
				<div class="panel panel-primary" ng-repeat="event in dogadaji" style="position:relative;margin-top: 5%">
					<div class="panel-heading clearfix">

						<h4 class="panel-title pull-left"> {{event.dogadaj}}
					&nbsp&nbsp&nbsp
							<button  class="btn btn-info " ng-show="loged" ng-click="enroll(event.dogadaj,event.id)"   >
								Prijavi se   
						</button></h4>
							<div class="btn-group pull-right">
							<button ng-show="admin()" class="btn btn-danger  btn-sm"  ng-click="deleteModal(event.id)" data-toggle="modal"  data-target="#deldogModal"  >
								<span  class="glyphicon glyphicon-remove" ></span>
							</button>
							</div></div>
					<div class="panel-body">
						<b >Datum</b> {{event.datum | date:'dd.MM.yyyy'}}
					</div>
					<div class="panel-body">
						<b >Vrijeme</b> {{event.vrijeme | date:'medium' }}
					</div>
					<div class="panel-body">
						<b >Opis</b> {{event.opis}}
					</div>
					<div class="panel-body">
						<b >Autor</b> {{event.imeAutor}}({{event.autor}})
						
						
						</div>
						<div class="panel-body">
						<b >Mjesto</b> {{event.mjesto}}
						<div class="col-lg-20">
							<google-map address="event.mjesto"></google-map>
						</div>
					</div>
				
					<div id="deldogModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brisanje događaja</h4>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite izbrisati događaj?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        <button type="button" class="btn btn-warning" ng-click="deletedogadaj(event.id)">Izbriši</button>
      </div>
    </div>
			</div>			</div>
				</div></div>
			<div ng-show="isSet(5)" style="position:relative;margin-left:10%;margin-right:10%">
			
			<h3 style="color:black;">GALERIJA SLIKA </h3>
					<div ng-show="admin()">
						
 <form name="upload" class="form" data-ng-submit="addFile()">
  <div class="fileUpload btn btn-primary"><input  type="file" name="file" multiple 
 onchange="angular.element(this).scope().uploadedFile(this)" /></div><br>
 <button class="btn btn-default "style="position: relative;overflow: hidden;margin: 10px;" type="submit">Upload </button>
</form></div>	<br>		
			<ul class="enlarge">
				
				
				<table>
							<tr ng-repeat="pic in pictures" ng-switch on="$index % 3">
								<td ng-switch-when="0">
									<li ><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index].src}}"
								width="200px" height="200px" style=" border: 5px solid #C0C0C0;

								"/> 
								<span><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index].src}}" ng-click="openpicture(pictures[$index].src)"/></span></li></td><td></td>
								
								<div ng-show="pictures[$index-1]"> <td ng-switch-when="0">
									<li ng-show="pictures.length>($index+1)"><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index+1].src}}" 
									width="200px" height="200px" style="border: 5px solid #C0C0C0;
box-shadow: 1px 1px 3px #4C4843;"/>
								<span><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index+1].src}}" ng-click="openpicture(pictures[$index+1].src)"/></span></li></td> 
									</div>
								<div ng-show="pictures[$index+2]" > <td ng-switch-when="0">
									<li ng-show="pictures.length>($index+2)"><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index+2].src}}"
									width="200px" height="200px" style="border: 5px solid #C0C0C0;
box-shadow: 1px 1px 3px #4C4843;
									"/><span><img ng-src="/Projekt/public/uploads/pictures/{{pictures[$index+2].src}}" ng-click="openpicture(pictures[$index+2].src)" /></span></li></td> </div>
									
							</tr>
						</table></ul>

		
			
			</div>
			<div ng-show="isSet(6)" style="position:relative;margin-left:10%;margin-right:10%">
				<div ng-show="admin()">
					<h3 style="color:black">DOKUMENTI ZA DOWNLOAD</h3>
					<div class="alert alert-dismissible alert-warning" ng-show="uploaded">{{uploadMess}}
							<button type="button" class="close"  ng-click="uploaded=false" >
								 <span class="glyphicon glyphicon-remove"></span>
							</button>
						 
						</div>
						<div class="fileUpload btn btn-primary">
				   <input type = "file" file-model = "myFile"/></div>
				<br> <button  class="btn btn-default "style="position: relative;overflow: hidden;margin: 10px;" ng-click="uploadFile(myFile)">Upload</button>
				</div>
				 
				<br>
				<div  ng-repeat="x in filesForDownload" >
			<span class="glyphicon glyphicon-download"></span><a class="ng-binding" ng-href="public/uploads/files/{{x.file}}" style="font-size:20">{{x.file}}</a>
				<button ng-show="admin()" class="btn btn-danger btn-sm"  ng-click="deleteModal(x.file)" data-toggle="modal"  data-target="#deldocModal"  >
								<span  class="glyphicon glyphicon-remove" ></span>
							</button>
				<div id="deldocModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brisanje prijave</h4>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite izbrisati dokument?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        <button type="button" class="btn btn-warning" ng-click="deleteFile()">Izbriši</button>
      </div>
    </div>

  </div>
</div>
				</div>
				
				</div>
			<div ng-show="isSet(7)" style="color:black; position:relative;margin-left:10%;margin-right:10% " >
				<form class="form-horizontal">
					<fieldset>
						<legend>
							Log in
						</legend>
						<div class="alert alert-dismissible alert-warning" ng-show="!lisucc">Neispravni podaci!
							<button type="button" class="close" data-dismiss="alert" ng-click="lisucc=!lisucc">
								 <span class="glyphicon glyphicon-remove"></span>
							</button>
						 
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" ng-model="liemail" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="lipass" placeholder="Password">

							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="reset" class="btn btn-inverse">
									Cancel
								</button>
								<button type="submit" class="btn btn-info" ng-click="login()">
									Submit
								</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div ng-show="isSet(8)&&!loged" style=" color:black;position:relative;margin-left:10%;margin-right:10%">
				<form name="registration" class="form-horizontal">
					<fieldset>
						<legend>
							Registracija
						</legend>
						<div class="alert alert-dismissible alert-success" ng-show="succ">
							<button type="button" class="close" data-dismiss="alert" ng-click="succ=!succ">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<strong> {{response}}</strong>
						</div>
						<div class="alert alert-dismissible alert-warning" ng-show="passNotMatch">
							<button type="button" class="close" data-dismiss="alert" ng-click="passNotMatch=false">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<strong> {{response}}</strong>
						</div>
						<div class="form-group">
							<label for="inputName" class="col-lg-2 control-label">Ime i prezime</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" ng-model="name" placeholder="Name" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input type="email" class="form-control" ng-model="email" placeholder="Email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="pass"  placeholder="Password" required>

							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-lg-2 control-label">Ponovite Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" ng-model="passrepeat"  placeholder="Password" required>

							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="reset" class="btn btn-inverse">
									Cancel
								</button>
								<button type="submit" class="btn btn-info" ng-click="register()">
									Submit
								</button>
							</div>
						</div>
					</fieldset>
				</form>

			</div>
			
			
			
			
			<div ng-show="isSet(8)&&loged" style="position:relative;margin-left:10%;margin-right:10%">
				
				<div style="width: 100%;">
   <div style="float:left; width: 30%">
  <img ng-src="/Projekt/public/img/{{session}}/{{session}}.jpg" 
				float="left" width="200px" height="200px" style=" border: 10px solid #93c54b;
  "/>          
<div >
  
   </div></div>
   <div style="float:left;">
   	PROMJENI SLIKU <div style="color:red">(naziv slike: ime prezime, npr. Slavko Slavkic.jpg)</div>
   	<div class="fileUpload btn btn-primary">
				   <input type = "file" file-model = "profPic"/></div>
				<br> <button  class="btn btn-default "style="position: relative;overflow: hidden;margin: 10px;" ng-click="uploadProfile(profPic)">Upload</button>
   	  
				
   	  <h3>{{session}} </h3>
   
   </div>
   <div id="delpetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brisanje prijave</h4>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite izbrisati ljubimca?</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        <button type="button" class="btn btn-warning" ng-click="deleteDog()">Izbriďż˝i</button>
      </div>
    </div>

  </div>
</div>
   	
   	 <table class="table table-striped table-hover " >
	
  <thead>
    <tr>      
      <th>Ime</th>
      <th>Pasmina</th>
      <th>Kategorija</th>
  </tr>
    <tr class="success" ng-repeat="dog in pets">
    	 <th ng-show="!editpetshow">{{dog.imePsa}}</th>
      <th ng-show="!editpetshow">{{dog.pasmina}}</th>
      <th ng-show="!editpetshow">{{dog.kategorija}}</th>

   <th class="form-group" ng-show="editpetshow">
									
									<div>
									<input type="text"  class="form-control" style="width:150" ng-model="dog.imePsa" >
									
									</div>
									
									</th>
									<th class="form-group"ng-show="editpetshow">
									
									<div >
									<input type="text" class="form-control" style="width:150"ng-model="dog.pasmina">									
                     	         </div> </th>
                     	         <th class="form-group"ng-show="editpetshow">
									
									<div >
									<input type="text" class="form-control"style="width:60" ng-model="dog.kategorija">									
                    </div> </th>
                    <th> <button  class="btn btn-info"  ng-click="editpetshow=!editpetshow"  >
							<span  class="glyphicon glyphicon-pencil" ></span>
						</button></th> 
			 <th class="form-group" ng-show="editpetshow">
							
								<button type="reset" class="btn btn-inverse">
									Cancel
								</button>
								<button type="submit" class="btn btn-info" ng-click="editpets(dog.idPsa,dog.imePsa,dog.pasmina,dog.kategorija)">
									Submit
								</button>
			</th><th> <button  class="btn btn-danger"  ng-click="deleteModal(dog.idPsa)" data-toggle="modal"  data-target="#delpetModal"  >
							<span  class="glyphicon glyphicon-remove" ></span>
						</button>
						</th> </tr>
      
  
  </thead>
  <tbody>

		
	  </td>
    </tr>
    
  </tbody>
</table> 

<div> <button  class="btn btn-info"  ng-click="addpetshow=!addpetshow"  >
							<span  class="glyphicon glyphicon-plus" ></span>
						</button></div> 
						<div class="panel panel"  style="position:relative;margin-top: 5%">
<div class="form-group" ng-show="addpetshow">
									<br>
									<div>
										<label for="imePsa" class="col-lg-2 control-label">Ime psa</label>
									<input type="text"  class="form-control" style="width:150" ng-model="imePsa" >
									
									</div>
									
									</div>
									<div class="form-group"ng-show="addpetshow">
									
									<div >
										<label for="pasmina" class="col-lg-2 control-label">Pasmina</label>
									<input type="text" class="form-control" style="width:150"ng-model="pasmina">									
                     	         </div> </div>
                     	         <div class="form-group"ng-show="addpetshow">
									
									<div >
										<label for="kategorija" class="col-lg-2 control-label">Kategorija</label>
									<input type="text" class="form-control"style="width:60" ng-model="kategorija">									
                    </div> </div>
                    
			 <div class="form-group" ng-show="addpetshow" style="position:relative; margin-left: 2%">
							
								<button type="reset" class="btn btn-inverse">
									Cancel
								</button>
								<button type="submit" class="btn btn-info" ng-click="addpet()">
									Submit
								</button>
			</div></div></div>
<div style="clear:both">
</div>
		</div>		
	<div ng-show="isSet(9)" style=" color:black;position:relative;margin-left:10%;margin-right:10%">
				
				
	<h3>SVI REGISTRIRANI KORISNICI</h3><br>

  <table class="table table-striped table-hover " >
  <thead>
    <tr >      
      <th ><a href="" ng-click="orderByMe='ime'">Ime</th>      
      <th><a href="" ng-click="orderByMe='email'">Email</th>
      <th>Pretraživanje<input type="text" ng-model="search"></th>
      <th>
      	<button  class="btn btn-success"   data-toggle="modal"  data-target="#allUsersModal"  >
							<span  class="glyphicon glyphicon-envelope" ></span>
						</button>   </th>
  </tr></thead>
  <tr class="success" ng-repeat="user in allUsers|orderBy:orderByMe| filter:search">
    <th>{{user.ime}}     
    </th>
    <th>{{user.email}}</th><th></th>
    <th>    <button  class="btn btn-danger"  ng-click="deleteModal(user.email)" data-toggle="modal"  data-target="#deluserModal"  >
							<span  class="glyphicon glyphicon-remove" ></span>
						</button> 
						</th>
  </tr>
</table>
<div id="deluserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Brisanje korisnika</h4>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite izbrisati korisnika? {{idToDelete}}</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        <button type="button" class="btn btn-warning" ng-click="deleteUser()">Izbriši</button>
      </div>
    </div>

  </div>
</div>
	<div id="allUsersModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Svi korisnici</h4>
      </div>
      <div class="modal-body">
        <table>
				<tr ng-repeat="user in allUsers "  ><td >
					{{user.email}} ;
			</td></tr></table>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Povratak</button>
        
      </div>
    </div>

  </div>
</div>			
				
			</div>		
				
			
			
	</div>
	</div>
	<div style="float:right ;width: 20%;"> 
		<simple-calendar events="eventsx" options="calendarOptions" style="position:absolute;margin-right:2%" ng-click="setTab(4)"></simple-calendar>
	<div class="jumbotron" style="  background: url(http://www.thedesignwork.com/wp-content/uploads/2012/04/leather-texture-01.jpg) repeat 0 0; color:#93c54b;position:absolute;margin-top:20%;width:15%">
	<h3>Korisni linkovi:</h3>
	<a href="http://www.w3schools.com/" target="_blank">Visit W3Schools!</a>
	<br/>
	<a href="http://www.youtube.com" target="_blank">Yubitubi</a>
	<br/>
	<a href="http://www.facebook.com/" target="_blank">naša fejs stranica</a>
	<br/>
	<a href="http://46.101.218.145" target="_blank">nasa stranica</a>
	</div>
	
</div>
	
</div>
</html>

  